@model IEnumerable<RecruitmentApplication.Models.TraitComment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PanelMember.PanelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraitCategory.TraitName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PanelMember.PanelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraitCategory.TraitName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TraitCommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TraitCommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TraitCommentID })
        </td>
    </tr>
}

</table>
