@model RecruitmentApplication.Models.TraitCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>TraitCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TraitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraitDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraitDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
