@model RecruitmentApplication.Models.Employee

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form action="#">
        <div class="mdl-card mdl-shadow--4dp demo-card-long">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Enter Your Details</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.Editor("Email", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "email", @id = "email", @required = "required" } })
                    <label class="mdl-textfield__label" for="email">Email</label>
                    <span class="mdl-textfield__error">Emails Only</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.Editor("oldPassword", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "password", @id = "oldPassword", @required = "required"} })
                    <label class="mdl-textfield__label" for="oldPassword">Current Password</label>
                    <span class="mdl-textfield__error">Please enter your current password</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.Editor("newPassword", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "password", @id = "newPassword", @required = "required" } })
                    <label class="mdl-textfield__label" for="newPassword">New Password</label>
                    <span class="mdl-textfield__error">Please enter your new password</span>
                </div>
                
                <br />
                <p style="color:red">@ViewBag.message</p>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset Password" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                    </div>
                    @*<br />
                    <div>
                        <input type="submit" value="Forgot Password" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                    </div>*@
                </div>
                <br />
                <div>
                    @Html.ActionLink("Back to Login", "Index", "Home")
                </div>
            </div>
        </div>
    </form>
}

