@model RecruitmentApplication.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentSurname, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />

        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentDOB, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentUniversity, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentDegree, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentYearofStudy, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentPhoto, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentBio, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            @Html.EditorFor(model => model.StudentVideo, new { htmlAttributes = new { @class = "form-control" } })
            <label class="mdl-textfield__label" for="user">Name</label>
            <span class="mdl-textfield__error">Letters Only</span>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

