@model IEnumerable<RecruitmentApplication.Models.InterviewSession>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SessionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SessionID })
        </td>
    </tr>
}

</table>
