@model IEnumerable<RecruitmentApplication.Models.InterviewSession>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button onclick="location.href = '/InterviewSessions/Create';" class="mdl-cell mdl-cell--1-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    <i class="material-icons">add</i>Create
</button>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Session Name</th>
            <th>Session Description</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="Name" class="mdl-data-table__cell--non-numeric left">
                @Html.DisplayFor(modelItem => item.SessionName)
            </td>
            <td data-label="Surname" class="left">
                @Html.DisplayFor(modelItem => item.SessionDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SessionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SessionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SessionID})
            </td>
        </tr>
    }

</table>
