@model IEnumerable<RecruitmentApplication.Models.Interview>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Date</th>
            <th>Student Name</th>
            <th>Interview Session</th>
            <th>Interviewer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Date" class="mdl-data-table__cell--non-numeric left">@Html.DisplayFor(modelItem => item.InterviewDate) </td>
                <td data-label="Student Name" class="left">@Html.DisplayFor(modelItem => item.Student.StudentName) @Html.DisplayFor(modelItem => item.Student.StudentSurname)</td>
                <td data-label="Interview Session" class="left">@Html.DisplayFor(modelItem => item.InterviewSession.SessionName)</td>
                <td data-label="Interviewer" class="left">
                @foreach (var interviewer in item.PanelMembers)
                {
                    @interviewer.Employee.EmployeeName;
                    <br/>
                }
                </td>
                <td data-label="Continue" class="noline left" >
                    <button onclick="location.href = '/Interviews/StartInterview/'+@item.InterviewID;" class="mdl-button mdl-js-button mdl-button--icon noline">
                        <i class="material-icons noline">arrow_forward</i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

