@model RecruitmentApplication.ViewModels.StartInterviewVM

@{
    ViewBag.Title = "Interview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--4dp demo-card-square">
        <div class="mdl-card__title mdl-shadow--2dp">
            <h2 class="mdl-card__title-text">Student: @Html.DisplayFor(model => model.Student.StudentName) @Html.DisplayFor(model => model.Student.StudentSurname)</h2>
        </div>
        <div class="">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div>
                <img class="demo-card-image img" src="/Img/@Html.DisplayFor(model => model.Student.StudentPhoto)" />
            </div>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--4dp demo-card-square">
        <div class="mdl-card__title mdl-shadow--2dp">
            <h2 class="mdl-card__title-text">Video</h2>
        </div>
        <div class="">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <iframe width="220" height="200" src="@Html.DisplayFor(model => model.Student.StudentVideo)" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--4dp demo-card-square">
            <div class="mdl-card__title mdl-shadow--2dp">
                <h2 class="mdl-card__title-text">Details</h2>
            </div>
            <div class="mdl-card__supporting-text ">
                <strong>Name: </strong>
                @Html.DisplayFor(model => model.Student.StudentName)
                @Html.DisplayFor(model => model.Student.StudentSurname)<br>
                <strong>Date of Birth:</strong>
                @Html.DisplayFor(model => model.dateOfBirth)<br />
                <strong>Degree:</strong>
                @Html.DisplayFor(model => model.Student.StudentDegree)<br>
                <strong>University:</strong>
                @Html.DisplayFor(model => model.Student.StudentUniversity)
                <strong>Year of Studies:</strong>
                @Html.DisplayFor(model => model.Student.StudentYearofStudy)<br>
                <strong>Student Bio:</strong> <br>
                @Html.DisplayFor(model => model.Student.StudentBio)<br>
            </div>
    </div>
</div>

<div class="mdl-grid">
    @foreach (var category in Model.categories)
    {
        string name = category.TraitName;
        string commentFieldID = @category.TraitName + "Comment";

    <div class="mdl-card mdl-shadow--4dp demo-card-square" style="height:auto">
        <div class="mdl-card__title mdl-shadow--2dp">
            <h2 class="mdl-card__title-text">@category.TraitName</h2>   
                   
        </div>
        <div class="mdl-card__actions">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.Editor(name + "Score", null , new { htmlAttributes = new { @class = "mdl-textfield__input", @required = "required", @type = "number", @step = "1", @max = "10", @style = "width:50px", @id= name } }) <br />
            <label class="mdl-textfield__label" style="color:black" for=@category.TraitName>Score</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" name=@commentFieldID type="text" rows="3" required="required" id=@commentFieldID></textarea>
                <label class="mdl-textfield__label" style="color:black" for=@commentFieldID>Comment</label>
            </div>

        </div>
    </div>
    }
</div>
<div class="mdl-grid">
<div class="mdl-card mdl-shadow--4dp demo-card-large">
    <div class="mdl-card__title mdl-shadow--2dp">
        <h2 class="mdl-card__title-text">Overall</h2>
    </div>
    <div class="mdl-card__actions">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.Editor("panelScore", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @required = "required", @type = "number", @step = "1", @max = "10", @style = "width:50px", @id = "panelScore" } }) <br />
            <label class="mdl-textfield__label" style="color:black" for="panelScore">Score</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" name="overallComment" type="text" rows="3" required="required" id="overallComment"></textarea>
            <label class="mdl-textfield__label" style="color:black" for="overallComment">Comment</label>
        </div>
    </div>
    <div class="mdl-card__actions">
        <input type="submit" name="completeInterview" value="Complete" class="mdl-button mdl-button--raised mdl-button--colored" />
    </div>
</div>
</div>
    }

